<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.dao.AdminDao">
    <!--<resultMap id="adminMap" type="Admin">
    <result property="id" column="admin_id"/>
    <result property="code" column="admin_code"/>
    <result property="password" column="admin_password"/>
    <result property="name" column="admin_name"/>
    <result property="telephone" column="admin_telephone"/>
    <result property="email" column="admin_email"/>
    <result property="enrolldate" column="admin_enrolldate"/>
</resultMap>-->
    <select id="listAll" resultType="Admin">
        select * from admin_info
    </select>
    <update id="update" parameterType="Admin">
        update admin_info set admin_name=#{adminName} where admin_id=#{adminId}
    </update>
    <delete id="delete">
        delete from admin_info where admin_id=#{id}
    </delete>

    <insert id="insert" parameterType="Admin">
        insert into admin_info values(default,#{adminCode},#{adminPassword},#{adminName},#{adminTelephone},#{adminEmail},#{adminEnrolldate})
    </insert>
</mapper>